.footer {
  background-color: #1b1b1d;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.footer-section {
  flex: 1;
  padding: 20px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-language select {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px;
  margin-top: 10px;
}

.email-subscription {
  display: flex;
  margin-top: 20px;
}

.email-subscription input {
  padding: 10px;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.email-subscription button {
  padding: 10px 20px;
  background-color: #7b3fe4;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.social-media {
  display: flex;
  margin-top: 20px;
}

.social-media a {
  margin-right: 10px;
}
.social-media img{
  height: 24px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}
