.payment-decline-top img{
    width: 324px;
    height: 230px;
    padding: 100px 620px;
    padding-bottom: 0;
}
.payment-decline-top h1{
    width: 334px;
    height: 48px;
    margin-left: 620px;
    font-family: 'lexend'sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #171A1f;
}
.payment-decline-top p{
    font-family: 'Manrope'sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: center;
color: #565D6D;

}
.container {
    background-color: #ffffff;
    border-radius: 4px;
    height: 426px;
    position: relative;
    width: 624px;
    left: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   /*border: 1px solid rgba(0, 0, 0, 0.1);*/
  }
  
  .container .text-wrapper {
    color: #171a1f;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 311px;
    white-space: nowrap;
  }
  
  .container .line {
    height: 1px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 290px;
    width: 576px;
  }
  
  .container .tag {
    height: 28px;
    left: 204px;
    position: absolute;
    top: 422px;
    width: 63px;
  }
  
  .container .frame {
    background-color: #f3f4f6;
    border-radius: 14px;
    height: 28px;
    overflow: hidden;
    position: relative;
  }
  
  .container .div {
    color: #323743;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 8px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 20px;
  }
  
  .container .text-wrapper-2 {
    color: #9095a1;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 204px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 395px;
    white-space: nowrap;
  }
  
  .container .product-s-name {
    color: #323743;
    font-family: "Manrope-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 204px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 369px;
    white-space: nowrap;
  }
  
  .container .text-wrapper-3 {
    color: #171a1f;
    font-family: "Manrope-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 575px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: right;
    top: 398px;
    white-space: nowrap;
  }
  
  .container .frame-wrapper {
    height: 28px;
    left: 204px;
    position: absolute;
    top: 570px;
    width: 64px;
  }
  
  .container .text-wrapper-4 {
    color: #9095a1;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 204px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 543px;
    white-space: nowrap;
  }
  
  .container .text-wrapper-5 {
    color: #171a1f;
    font-family: "Manrope-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 573px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: right;
    top: 546px;
    white-space: nowrap;
  }
  
  .container .product-s-name-2 {
    color: #323743;
    font-family: "Manrope-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 204px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 517px;
    white-space: nowrap;
  }
  
  .container .text-wrapper-6 {
    color: #171a1f;
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 508px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: right;
    top: 188px;
    white-space: nowrap;
  }
  
  .container .text-wrapper-7 {
    color: #565d6d;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 60px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 188px;
    white-space: nowrap;
  }
  
  .container .text-wrapper-8 {
    color: #171a1f;
    font-family: "Lexend-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 512px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: right;
    top: 234px;
    white-space: nowrap;
  }
  
  .container .img {
    height: 1px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 168px;
    width: 576px;
  }
  
  .container .text-wrapper-9 {
    color: #565d6d;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 60px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 118px;
    white-space: nowrap;
  }
  
  .container .text-wrapper-10 {
    color: #565d6d;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 60px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 69px;
    white-space: nowrap;
  }
  
  .container .text-wrapper-11 {
    color: #171a1f;
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 518px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: right;
    top: 69px;
    white-space: nowrap;
  }
  
  .container .image {
    height: 32px;
    left: 554px;
    position: absolute;
    top: 116px;
    width: 46px;
  }
  
  .container .text-wrapper-12 {
    color: #171a1f;
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 505px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: right;
    top: 23px;
    right: 30px;
    white-space: nowrap;
  }
  
  .container .receipt-list {
    height: 24px;
    left: 24px;
    position: absolute;
    top: 190px;
    width: 24px;
  }
  
  .container .text-wrapper-13 {
    color: #565d6d;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 60px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 239px;
    white-space: nowrap;
  }
  
  .container .currency-dollar {
    height: 24px;
    left: 24px;
    position: absolute;
    top: 241px;
    width: 24px;
  }
  
  .container .profile {
    height: 24px;
    left: 24px;
    position: absolute;
    top: 71px;
    width: 24px;
  }
  
  .container .credit-card {
    height: 24px;
    left: 24px;
    position: absolute;
    top: 120px;
    width: 24px;
  }
  
  .container .text-wrapper-14 {
    color: #565d6d;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 60px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 23px;
    white-space: nowrap;
  }
  
  .container .calendar {
    height: 24px;
    left: 24px;
    position: absolute;
    top: 25px;
    width: 24px;
  }
  
  .container .image-2 {
    height: 128px;
    left: 24px;
    position: absolute;
    top: 346px;
    width: 164px;
  }
  
  .container .image-3 {
    height: 128px;
    left: 24px;
    position: absolute;
    top: 494px;
    width: 164px;
  }
  
  .container .div-wrapper {
    height: 28px;
    left: 467px;
    position: absolute;
    top: 239px;
    width: 69px;
  }
  
  .container .frame-2 {
    background-color: #fdf2f2;
    border-radius: 14px;
    height: 28px;
    overflow: hidden;
    position: relative;
    right: 30px;
  }
  
  .container .text-wrapper-15 {
    color: #de3b40;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 25px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
  }
  
  .container .e-remove {
    height: 16px;
    left: 8px;
    position: absolute;
    top: 6px;
    width: 16px;
  }
  
  .container .button {
    all: unset;
    border: 1px solid;
    border-color: #6d31ed;
    border-radius: 4px;
    box-sizing: border-box;
    height: 44px;
    left: 173px;
    overflow: hidden;
    position: absolute;
    top: 350px;
    width: 132px;
  }
  
  .container .text-wrapper-16 {
    color: #6d31ed;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 42px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
  }
  
  .container .img-2 {
    height: 20px;
    left: 16px;
    position: absolute;
    top: 12px;
    width: 20px;
  }
  
  .container .button-2 {
    all: unset;
    background-color: #6d31ed;
    border-radius: 4px;
    box-sizing: border-box;
    height: 44px;
    left: 324px;
    overflow: hidden;
    position: absolute;
    top: 350px;
    width: 126px;
  }
  
  .container .text-wrapper-17 {
    color: #ffffff;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 42px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
  }
 