.order-summary {
  width: 808px;
  margin-left: 132px;
  font-family: 'Arial', sans-serif;
}

.order-summary h2 {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.order-summary h2::before {
  content: url('../../../assets/cart.png'); /* Replace with actual cart icon path */
  margin-right: 10px;
}

.order-summary-table-container {
  max-height: 300px; /* Set a fixed height for the table container */
  overflow-y: auto; /* Enable vertical scrolling */
}

.order-summary table {
  width: 100%;
  border-collapse: collapse;
}

.order-summary th,
.order-summary td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.order-summary th {
  color: #888;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.order-summary tfoot {
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 1;
}

.order-summary .product-info {
  display: flex;
  align-items: center;
}

.order-summary .product-info img {
  width: 100px;
  height: 60px;
  border-radius: 8px;
  margin-right: 10px;
}

.order-summary .delete-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.order-summary .delete-btn img {
  width: 20px;
  height: 20px;
}

.no-product-found {
  margin-left: 140px;
}
